extends layout

mixin message(msg)
  .msg
    .msg-head
      strong.user= msg.user
      p.added= msg.added
    .msg-body
      p.text= msg.text

block content
  header.header
    .info
      h1= title
      p Welcome to #{title}
    .form-link
      a(href="/new") + New message
  .msgs 
    for msg in messages
      +message(msg)